@tailwind components;

@layer components {
    .logos-dark{
        filter: invert(41%) sepia(22%) saturate(260%) hue-rotate(181deg) brightness(101%) contrast(85%);
        -webkit-filter: invert(41%) sepia(22%) saturate(260%) hue-rotate(181deg) brightness(101%) contrast(85%);
    }

    .services{
        @apply max-w-7xl mx-auto bg-slate-50 dark:bg-slate-800 py-10 sm:px-6 grid grid-cols-1 md:grid-cols-2 gap-16 sm:gap-6 lg:gap-10 md:px-10 xl:px-14 xl:py-14 xl:rounded-[3rem];

        & div{
            @apply h-full bg-white sm:border dark:bg-slate-900 sm:border-slate-200  sm:rounded-3xl shadow-md dark:border-slate-700 px-4 py-10 sm:px-10;

            .icon{
                @apply w-16 h-16 rounded-full p-[0.1875rem] ring-1 ring-slate-900/10 shadow overflow-hidden flex justify-center items-center ;
            }
        }
    }
    .animated-texts{
        animation:text 3s infinite ease-in;
        -webkit-animation:text 3s infinite ease-in;
        animation-delay: 1s;
    }

    @keyframes text {
       85%{
        @apply blur-0
       }

       100%{
        @apply blur-sm
       }
    }
}