<footer class="bg-white dark:bg-slate-900 transition-custom">
    <div class="w-full px-6 pt-16 pb-8 md:pt-24 lg:p-8 lg:pt-32 dark:border-slate-700 transition-custom">
        <div class="max-w-5xl mx-auto [&>div]:w-max [&>div]:pb-8 [&>div>h3]:mb-4 sm:grid sm:grid-cols-2 sm:gap-x-4 sm:pb-6 md:grid-cols-3 md:pb-12">
            <div>
                <h3 class="text-slate-900 text-base font-semibold dark:text-slate-100 transition-custom">Contacto</h3>
                <div class="">
                    <a href="tel:+5493812116637" class="flex items-center"s>
                        <i class="uil uil-phone text-2xl text-slate-700 dark:text-slate-300 transition-custom"></i>
                        <p class="ml-2 text-slate-700 text-base dark:text-slate-300 transition-custom">(+549) 381-211-6637</p>
                    </a>

                    <a href="mailto:blueskymobiles.mail@gmail.com" class="flex items-center"s>
                        <i class="uil uil-envelope text-2xl text-slate-700 dark:text-slate-300 transition-custom"></i>
                        <p class="ml-2 text-slate-700 text-base dark:text-slate-300 transition-custom">blueskymobiles.mail@gmail.com</p>
                    </a>
                </div>
            </div>
            
            <div>
                <h3 class="text-slate-900 text-base font-semibold dark:text-slate-100 transition-custom">Ubicación</h3>
                <a href="https://goo.gl/maps/G5Ryj3cWiXGF3d3h6" class="flex items-center">
                    <i class="uil uil-map-marker text-2xl text-slate-700 dark:text-slate-300 transition-custom"></i>
                    <p class="ml-2 text-slate-700 text-base dark:text-slate-300 transition-custom">Tucumán - SMT - Buenos Aires 10</p>
                </a>
            </div>
            
            <div class=" text-slate-700 dark:text-slate-400 sm:col-span transition-custom">
                <h3 class="text-slate-900 text-base font-semibold dark:text-slate-100 transition-custom">Redes</h3>
                <ul class="[&>li>a]:flex [&>li>a]:items-center [&>li>a>i]:text-3xl [&>li>a>p]:text-base [&>li>a>p]:ml-2">
                    <li>
                        <a href="https://wa.me/message/BQTESQK4MHVYK1">
                            <i class="uil uil-whatsapp-alt"></i>
                            <p>(+549) 381-211-6637</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://instagram.com/blueskymobiles?igshid=MzRlODBiNWFlZA==">
                            <i class="uil uil-instagram-alt"></i>
                            <p>@blueskymobiles</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://t.me/blueskymobiles">
                            <i class="uil uil-telegram"></i>
                            <p>@blueskymobiles</p>
                        </a>
                    </li>
                    
                    
                    <li>
                        <a href="https://www.facebook.com/Blueskymobiles?mibextid=LQQJ4d">
                            <i class="uil uil-facebook"></i>
                            <p>Bluesky Mobiles</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full pt-8 border-t border-solid border-slate-300 dark:border-slate-700 transition-custom">
            <p class="text-slate-800 text-base text-center dark:text-slate-400 transition-custom">© Copyright 2023. All rights reserved.</p>
        </div>
    </div>
</footer>
