<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0 dark:bg-slate-900 transition-custom">
   <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200/70 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)] dark:stroke-slate-800/70 transition-custom" aria-hidden="true">
         <defs>
            <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
            </pattern>
         </defs>
         <svg x="50%" y="-1" class="overflow-visible fill-gray-50 dark:fill-slate-800 transition-custom">
            <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
         </svg>
         <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
   </div>
   <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
         <div class="lg:pr-4">
            <div class="lg:max-w-lg">
               <!-- <p class="text-base font-semibold leading-7 text-indigo-600">Conocenos</p> -->
               <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-slate-100 transition-custom">Por qué Elegirnos</h1>
               <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-slate-300 transition-custom">Nos apasiona la tecnología y estamos comprometidos en brindar soluciones y satisfacer todas tus necesidades relacionadas con dispositivos móviles.</p>
            </div>
         </div>
      </div>
      <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
         <img class="max-w-none h-[550px] rounded-xl bg-gray-900 object-cover shadow-xl ring-1 ring-gray-400/10 " src="../../../../../assets/local.webp" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
         <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg dark:text-slate-300 transition-custom">
               <p>A continuación, te presentamos algunos datos clave sobre nosotros:</p>
               <ul role="list" class="mt-8 space-y-8 text-gray-600 dark:text-slate-400 transition-custom">
                  <li class="flex gap-x-3">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mt-1 h-5 w-5 flex-none text-indigo-600 dark:text-indigo-500 transition-custom">
                        <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                      </svg> 
                     <span><strong class="font-semibold text-gray-900 dark:text-slate-100 transition-custom">Experiencia.</strong> Con más de 17 años de experiencia en el sector, hemos ayudado a miles de clientes a solucionar diversos problemas con sus dispositivos. Nuestro local es reconocido en el gremio de reparación de celulares.</span>
                  </li>
                  <li class="flex gap-x-3">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mt-1 h-5 w-5 flex-none text-indigo-600 dark:text-indigo-500 transition-custom">
                        <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
                        <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
                      </svg>
                      
                     <span><strong class="font-semibold text-gray-900 dark:text-slate-100 transition-custom">Reconocimiento.</strong> Somos ampliamente conocidos por nuestra colaboración con otros profesionales del sector, brindándoles servicios de reparación confiables y eficientes para los dispositivos de sus propios clientes. Nos enorgullece ser el aliado de confianza para muchos negocios de reparación de celulares, ya que confían en nosotros para solucionar los problemas de los dispositivos de sus clientes de manera efectiva.</span>
                  </li>
                  <li class="flex gap-x-3">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mt-1 h-5 w-5 flex-none text-indigo-600 dark:text-indigo-500 transition-custom">
                        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
                      </svg>
                     <span><strong class="font-semibold text-gray-900 dark:text-slate-100 transition-custom">Calidad y Garantía.</strong> En nuestro local, trabajamos con productos y repuestos de la más alta calidad. Además, respaldamos nuestra labor con garantías que brindan tranquilidad y confianza a aquellos que confían en nosotros para reparar sus celulares. Entendemos que cada cliente tiene necesidades y presupuestos diferentes, por lo que nos ajustamos a sus requerimientos para ofrecer soluciones personalizadas que cumplan con sus expectativas.</span>
                  </li>
               </ul>
               <p class="mt-8">Nos mantenemos actualizados con los últimos avances tecnológicos para ofrecerte las soluciones más innovadoras del mercado. Siempre nos esforzamos por superar tus expectativas en cada interacción.</p>
               <!-- <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">No server? No problem.</h2> -->
               <!-- <p class="mt-6">Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in. Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum mauris enim, consequat vulputate nibh. Maecenas pellentesque id sed tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque nam sed nullam sed diam turpis ipsum eu a sed convallis diam.</p> -->
            </div>
         </div>
      </div>
   </div>
</div>